h3 {
    color: #057E38;
    font-weight: 600;
    text-shadow: 1px 1px 0 #ffffff70;
}

label {
    font-weight: 600;
    margin-bottom: 4px;
    color: #057E38;
}

img {
    width: 300px;
}

.ikonka{
    background-color: white;
}

.ramka {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 4px 8px;
    transition: box-shadow 0.3s ease;
}

.ramka:hover {
    box-shadow: 0 0 0 2px #32C0EE66;
}

input{
    border: none;
}

.kalendarz  {
    margin-bottom: 10px;
}

.kalendarz select {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
}

.fix-przycisk {
    padding-bottom: calc(80px + env(safe-area-inset-bottom));
}