<h2 class="text-center">FAQ</h2>

<ol class="pb-10">
    <li>
        <div class="fw-bold">Kiedy i gdzie mogę uzyskać pomoc w nagłym przypadku?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>W nagłych sytuacjach zgłoś się na SOR – działa całodobowo.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy szpital ma SOR?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, działa 24/7 w przypadkach zagrożenia życia lub zdrowia.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">SOR czy Nocna i Świąteczna Pomoc Lekarska – gdzie się zgłosić?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>SOR: w sytuacjach nagłego zagrożenia życia (np. utrata przytomności, duszność, uraz głowy, silny ból w klatce piersiowej). Nocna i Świąteczna Pomoc Lekarska: w razie nagłego zachorowania lub pogorszenia stanu zdrowia poza godzinami pracy lekarza rodzinnego (np. gorączka, silny ból, infekcja)</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Kiedy nie uzyskam pomocy w ramach SOR lub Nocnej Pomocy?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Nie otrzymasz pomocy w przypadku: wizyt kontrolnych; potrzeby wypisania recepty na leki przyjmowane przewlekle; wystawienia skierowania lub zaświadczenia o stanie zdrowia.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Jak wygląda planowe przyjęcie do szpitala?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Termin ustala lekarz oddziału. Zgłaszasz się rano do Centralnej Izby Przyjęć z wymaganymi rzeczami i dokumentami.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Jakie dokumenty zabrać do szpitala?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Dowód osobisty, skierowanie, dokumentacja medyczna, lista przyjmowanych leków.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Co zabrać ze sobą na pobyt?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Rzeczy osobiste: piżama, kapcie, ręcznik, przybory toaletowe, kubek, sztućce.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy można odwiedzać pacjentów?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, zgodnie z harmonogramem oddziału. Szczegóły ustal z personelem.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Jak skontaktować się z pacjentem?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Zadzwoń do sekretariatu oddziału – numer telefonu uzyskasz w rejestracji.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy rodzina może przekazać rzeczy pacjentowi?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, przez personel oddziału lub osobiście w godzinach odwiedzin.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy przy szpitalu jest parking?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, płatny – dostępny dla pacjentów i gości.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy szpital jest przystosowany dla osób z niepełnosprawnością?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, są podjazdy, windy osobowe i udogodnienia na oddziałach.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy w szpitalu jest winda?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, we wszystkich budynkach dostępne są windy osobowe.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy w szpitalu jest apteka?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, apteka szpitalna – zapytaj o lokalizację w rejestracji.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy w szpitalu mogę kupić sprzęt ortopedyczny?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, działa sklep z zaopatrzeniem ortopedycznym – zapytaj o lokalizację.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy w szpitalu jest paczkomat?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, InPost – hol główny, wejście C, naprzeciw sklepu ortopedycznego. Pojemność: 72 przesyłki.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy w pobliżu są inne usługi?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Apteka: ul. Modrzewskiego 5a (550 m), Bankomat: Pl. Jana Pawła II (650 m), Poczta: ul. Mickiewicza 22 (550 m); Taksówka: zadzwoń z portierni lub wew. 900.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy w szpitalu jest internet?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, bezpłatne Wi-Fi. Dane dostępowe na tablicach informacyjnych.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy w salach są telewizory?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak. Opłata wg cennika.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Jak wygląda wyżywienie?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Śniadanie: 8:00–9:00; Obiad: 13:00–14:00; Kolacja: 17:00–18:00. Można zamówić dodatkowy posiłek z restauracji "Hotel nad Mrogą". Menu u personelu.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy mogę przechowywać jedzenie?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, lodówki są dostępne na każdym oddziale. Opisz żywność imieniem i nazwiskiem. Przeterminowana żywność jest usuwana.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy w szpitalu są organizowane ćwiczenia ewakuacyjne?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak. Prowadzone są okresowo. W razie ćwiczeń zachowaj spokój i postępuj zgodnie z instrukcjami personelu.</span>
        </div>
    </li>
</ol>
