<h2>FAQ</h2>

<ol class="pb-10">
    <li>
        <div class="fw-bold">Jak długo trwa operacja?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Ok. 1,5 - 3h.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Jaki rodzaj endoprotezy zostanie w moim zabiegu użyty?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Od rodzaju użytej endoprotezy decyduje lekarz ortopeda. Dobierana jest ona indywidualnie w zależności od stanu kości, stanu zdrowia pacjenta, wieku oraz poziomu aktywności.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy będę musiał wymieniać moją endoprotezę?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Jest to kwestia indywidualna. Endoprotezę wymienia się co ok 15 - 30 lat.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy muszę się odchudzać przed operacją?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Jeśli twoja waga przekracza normę, warto przed operacją udać się do dietetyka w celu zredukowania masy ciała. Zmniejszy to ryzyko powikłań pooperacyjnych.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy mogę wykrwawić się podczas operacji?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Decyzję o dopuszczeniu do zabiegu podejmuje lekarz prowadzący wraz z zespołem medycznym. Przed planowaną operacją wykonuje się szereg badań i konsultacji w celu zminimalizowania ryzyka. Każda operacja wiąże się z możliwością powikłań, dlatego wszelkie wątpliwości należy skonsultować z lekarzem. Pacjent przed zabiegiem otrzymuje dokumentację, w której wyraża zgodę na zabieg.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy po operacji mogę dostać zakrzepicy?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>W celu zminimalizowania zakrzepicy pacjenci po zabiegach operacyjnych otrzymują indywidualnie dobrane leki oraz wykonują ćwiczenia przeciwzakrzepowe. Czasami dodatkowo zaleca się noszenie pończoch uciskowych.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy w wyniku operacji mogę stracić czucie w kończynach?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Jednym z powikłań operacyjnych może być uszkodzenie nerwu skutkujące zaburzeniami czucia w jego obszarze. Jest to stosunkowo rzadkie powikłanie, jednakże może się zdarzyć. Pacjent zostaje o tym poinformowany przed operacją i wypełnia zgodę świadczącą o tym, że zapoznał się z możliwymi powikłaniami.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Jak długo będę w szpitalu po operacji?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Pobyt w szpitalu po operacji trwa zazwyczaj 3-7 dni, jednak wszystko zależy od stanu pacjenta. W przypadkach, kiedy wystąpiły ciężkie powikłania pobyt może się przedłużyć.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Kiedy będę mógł chodzić?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Pionizacja pacjentów najczęściej odbywa się w pierwszej dobie po operacji, a chodzenie w kolejnych dniach. Jest to jednak kwestia indywidualna i zależy od przebiegu operacji, powikłań rodzaju endoprotezy i ogólnego stanu zdrowia pacjenta.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy będę potrzebował pomocy w domu po operacji?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Pomoc po operacji jest bardzo przydatna. Warto zaopatrzeć się wcześniej w chwytak i podwyższające nakładki na sedes oraz krzesła.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Kiedy będę mógł wrócić do pracy?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Okres rekonwalescencji zależy od przebiegu operacji, typu użytej endoprotezy, powikłań, ogólnego stanu zdrowia oraz rehabilitacji. Zazwyczaj trwa on od 6 tygodni do 6 miesięcy.</span>
        </div>
    </li>
    <li>
        <div class="fw-bold">Czy będę mógł uprawiać sportowo zabiegu?</div>
        <div class="d-flex align-items-start mt-2">
            <i class="bi bi-arrow-right-circle me-2"></i>
            <span>Tak, jednak warto to skonsultować z lekarzem oraz fizjoterapeutą. Należy unikać skoków oraz sportów kontaktowych, ponieważ grozi to zwichnięciem endoprotezy.</span>
        </div>
    </li>
</ol>
<br />
<br />