@page "/gry"

<div class="game-container dol-fix">
    <h1 class="game-title">🎮 Gry</h1>

    <a href="/memory" class="game-card card">
        <div class="card-body memory-anim">
            <!-- Do animacji kart -->
            <div class="emoji-background">
                <span class="pair">🩺</span> 
                <span class="pair">🩺</span>

                <span class="pair">🩹</span>
                <span class="pair">💉</span>

                <span class="pair">🚑</span>
                <span class="pair">🚑</span>
            </div>

            <h5 class="card-title">Memory</h5>
            <p class="card-text">Sprawdź swoją pamięć! Kliknij, by zagrać.</p>
            <div  class="btn btn-primary w-100">Zagraj</div>
        </div>
    </a>
</div>

@code {

}
