@page "/"

<h1>Hello, world!</h1>

<<<<<<< HEAD:Frontend/Frontend/Components/Pages/Home.razor
Welcome to your new app.
=======
Welcome to your new app.

@*test faq*@
<FAQ />
>>>>>>> 8d03422cfccfc05608af06ae6c0e459a14822e14:Frontend/Core/Components/Pages/Home.razor
