@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@inject IJSRuntime JS

@inherits Core.Components.BaseClassess.CustomComponentBase

<div class="glass-box">
    @* <img src="Images/szpital_brzeziny_logo_uzupelniajace.png" alt="Logo" class="mb-0" /> *@
    <h3 class="text-center my-4 mt-0">Logowanie</h3>

    <EditForm Model="_loginRequest" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label>Adres e-mail</label>
        <div class="input-group ramka mb-1">
            <input @bind="_loginRequest.Email" class="form-control" placeholder="Adres e-mail" />
        </div>
        
        <label>Hasło</label>
        <div class="input-group ramka mb-1">
            <input @bind="_loginRequest.Password" type="@_passwordFieldType" class="form-control" placeholder="Hasło" />
            <span class="input-group-text ikonka" style="cursor: pointer;" @onclick="TogglePasswordVisibility">
                @if (_passwordFieldType == "password")
                {
                    <i class="bi bi-eye-slash"></i>
                }
                else
                {
                    <i class="bi bi-eye"></i>
                }
            </span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Zaloguj się</button>

        <div class="text-center mt-3 mb-2">
            <span>Nie masz konta? </span>
            <a href="/rejestracja">Zarejestruj się</a>
        </div>
        <div class="text-center mt-3 mb-2">
            <span>DEBUG :</span>
            <div>
                @Debug
            </div>
        </div>
    </EditForm>
</div>