@page "/rejestracja"
@page "/"
@using Core.Components.Layout

<Card>
    <h2 class="text-center mb-3">Rejestracja</h2>

    <div class="row">
        <div class="col">
            <InputField Label="Imię" @bind-Value="firstName" />
        </div>
        <div class="col">
            <InputField Label="Nazwisko" @bind-Value="lastName" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <InputField Label="Data urodzenia" @bind-Value="birthDate" Type="date" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <InputField Label="Adres e-mail" @bind-Value="email" Type="email" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <InputField Label="Numer telefonu" @bind-Value="phoneNumber" Type="tel" />
        </div>
        <div class="col">
            <InputField Label="PESEL" @bind-Value="pesel" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <InputField Label="Hasło" @bind-Value="password" Type="password" />
        </div>
        <div class="col">
            <InputField Label="Powtórz hasło" @bind-Value="confirmPassword" Type="password" />
        </div>
    </div>

    <Button OnClick="Zarejestruj" Class="w-100 mt-3">
        Zarejestruj się
    </Button>
</Card>

@code {
    private string firstName;
    private string lastName;
    private string birthDate;
    private string email;
    private string phoneNumber;
    private string pesel;
    private string password;
    private string confirmPassword;

    private void Zarejestruj()
    {
        // Tutaj logika rejestracji
    }
}
