@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div class="dolna-nawigacja">
    <a href="/newhome">
        <img src="icons/home.jpg" alt="Home" />
        <span>Strona główna</span>
    </a>
    <a href="/care">
        <img src="icons/services.jpg" alt="Zabiegi" />
        <span>Usługi</span>
    </a>
    <a href="/kalendarz">
        <img src="icons/calendar.jpg" alt="Kalendarz" />
        <span>Kalendarz</span>
    </a>
    <a href="/games">
        <img src="icons/games.jpg" alt="Gry" />
        <span>Gry</span>
    </a>
    <a href="/profil">
        <img src="icons/profile.jpg" alt="Profil" />
        <span>Profil</span>
    </a>
</div>
