<nav class="bottom-navbar">
    <div class="bottom-nav">
        <NavLink class="bottom-nav-link" href="rejestracja">
            <span class="bi bi-pencil-square"></span>
            <span class="bottom-nav-text">Rejestracja</span>
        </NavLink>

        <NavLink class="bottom-nav-link" href="logowanie">
            <span class="bi bi-box-arrow-in-right"></span>
            <span class="bottom-nav-text">Logowanie</span>
        </NavLink>

        <NavLink class="bottom-nav-link" href="kalendarz">
            <span class="bi bi-calendar-event-fill"></span>
            <span class="bottom-nav-text">Kalendarz</span>
        </NavLink>
    </div>
</nav>
